/*--- Variables ---*/
$font: 'Asap', sans-serif;

/*--- Bloc Logo ---*/
.logo {
	text-align: center;
}

/*--- Bloc Carrousel ---*/
.carrousel {
	height: 600px;
	background-color: #A5D8D3;
	font-family: $font;
}

/*--- Bloc Intro ---*/
.intro {
	height: 300px;
	background-color: #214452;
	text-align: center;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: $font;
	color: white;
}

/*--- Bloc Picto Valeur ---*/
.valeur {
	text-align: center;
	margin: auto;
	height: 150px;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: $font;
}

.ecoute .pro {
	@extend .valeur;
}

.engagement .dynamisme {
	@extend .valeur;
	background-color: yellow;
}

/*--- Bloc Métiers/Entreprise ---*/
.metiers {
	height: 400px;
	color: #2D9CDB;
	text-align: center;
	font-family: $font;
}

.entreprise {
	@extend .metiers;
	background-color: #4F4F4F;
}

.proximite {
	@extend .metiers;
	background-color: #333333;
}

/*--- Bloc Sponsors ---*/
.sponsors {

}

/*--- Bloc Newsletter ---*/
.newsletter {
	height: 500px;

	.row {
			.left, .right {
				height: 100%;
			}
			.left {
				margin-top: 2%;
				text-align: center;
				.col {
					h4 {
						font-size: 35px;
						margin-bottom: 20px;
					}
					img {
						height: 300px;
						width: 500px;
					}
				}
			}

		.right {
			margin-top: 5%;
			form {
				text-align: center;
				input, select {
					text-align: center;
					font-size: 30px;
					height: 45px;
					width: 60%;
					margin-top: 15px;
					margin-bottom: 15px;
				}
				input.submit {
					padding-bottom: 5%;
					color: white;
					background-color: #214452;
				}
			}
		}
	}
}

.footer {
	height: 200px;
	background-color: #214452;
}
