@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:600');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #333333;
}

.se_main_container {
}

.se_container {
    display: flex;
    height: 80vh;
}

.se_container .right_menu {
    margin-left: 50px;
    align-self: center;
}

.se_container .img_container {
    width: 50%;
    height: 100%;
    background: url('/images/pexels-photo-630839.jpeg') center center;
    -webkit-background-size: cover;
    background-size: cover;

}

.se_container .img_container .text {
    bottom: 50px;
    background: rgba(245, 198, 98, 0.9);
    max-width: 550px;
}

.se_container .img_container p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    font-size: 28px;
}

.se_menu .text {
    max-width: 550px;
}

.category_title {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

.category_menu {
    margin-top: 30px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub_category h1 {
    font-family: "Open Sans", serif;
    font-weight: 130%;
}

.sub_category h2 {
    font-weight: 400;
}

.subtitle {
    position: relative;
}

.links li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.links li a:visited {
    color: #333333;
}

.selected {
    color: red;
    font-size: 20px;
}

.links li a:hover {
    color: #004BA3;
}

.underline {
    position: absolute;
    background: rgba(242, 178, 42, 0.7);
    width: 20px;
    height: 100%;
    z-index: -10;
    bottom: -2px;
}

nav {
    padding: 10px;
    border-radius: 10px;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.nav_content .logo {
    height: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

.links {
    display: flex;
    list-style: none;
    position: relative;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 640px;
}

.topic {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 860px;
    line-height: 160%;
}

.topic .submenu {
    position: absolute;
    left: -150px;
    top: 50vh;
    transform: translateY(-50%);
    width: 180px;
}

.topic h2 {
    text-align: left;
    line-height: 35px;
}

.topic .submenu .content .bg {
    position: absolute;
    background: rgba(242, 178, 42, 0.7);
    height: 75%;
    width: 180px;
    left: -20px;
    z-index: -5;
    top: 32px;
}

.topic .submenu li {
    margin-bottom: 15px;
}

.topic .submenu li a {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.51);
    text-transform: uppercase;
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contact .container {
    background-color: #f2f2f2;
    padding: 20px;
    max-width:500px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .topic .submenu {
        left: 0;
        top: 0;
        position: relative;
        transform: translateY(0);
        text-align: center;
    }

    .topic {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        align-items: center;
        justify-content: center;
        max-width: 860px;
        line-height: 160%;
    }

    .se_container {
        flex-direction: column;
    }

    .se_container .right_menu {
        width: 90%;
        margin-left: 0;
    }

    .se_container .img_container {
        width: 100%;
    }
}

@media screen and (max-width: 830px) {
    nav {
        flex-direction: column;
    }

    nav .logo {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 690px) {
    .links {
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}